# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
client/dist/

# Environment variables
.env
server/.env

# Logs
*.log
npm-debug.log*
server/logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build files
client/dist-ssr/
